<form name="add player" action="/player" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Add player">
</form>

<br>

<table>
  <thead>
    <tr>
      <% @game.players.each do | player | %>
        <th><%= player.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @game.game_length.times do | index | %>
      <tr>
        <% @game.game_scores.each do | player_score | %>
          <td><%= player_score[index]%></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <% @game.players.each do | player | %>
        <td>
          <form name="score" action="/score" method="post">
            <input id="<%= player.name %>_bid" type="number" name="bid">
            <input id="<%= player.name %>_tricks"type="number" name="tricks">
            <input id="<%= player.name %>_name"type="hidden" name="player_name" value="<%= player.name %>">
            <input id="<%= player.name %>_submit" type="submit" value="Submit">
          </form>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>